{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}
{% block body_class 'login-img' %}

{% block body %}
    <div class="page">
        <div class="page-single">
            <div class="container">
                <div class="row">
                    <div class="col mx-auto">
                        <div class="text-center mb-6">
                            <img src="/assets/images/brand/logo.png" style="max-width:200px">
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-md-8">
                                <div class="card-group mb-0">
                                    <div class="card p-4">
                                        <div class="card-body">
                                            <h1>Register</h1>
                                            {{ form_start(form) }}
                                                {{ form_widget(form) }}
                                                <div class="row">
                                                    <div class="col-12">
                                                        <button type="submit" class="btn btn-primary btn-block px-4">create a new account</button>
                                                    </div>
                                                </div>
                                            {{ form_end(form) }}
                                        </div>
                                    </div>
                                    <div class="card text-white bg-primary py-5 d-md-down-none login-transparent">
                                        <div class="card-body text-center">
                                            <div>
                                                <h2>Already have account?</h2>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search</p>
                                                <a href="{{ url('login') }}" class="btn btn-primary active mt-3">Sign in</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
